### --- FOR LOOP EXERCISES ---

### A List of Fruits

In [1]:
prices = {'apples': '3.0', 'oranges': '2.5', 'kiwis': '4.0'}

Q1: Write a for loop over the key of 'prices' and print the key.

In [5]:
for key in prices.keys():
    print(key)

apples
oranges
kiwis

Q2: Write a for loop over the keys of 'prices' and prints both key and the value.

In [8]:
for key in prices.keys():
    print(key)
for value in prices.values():
    print(value)

apples
oranges
kiwis
3.0
2.5
4.0

Q3: write a for loop that iterates over 'SPICED' and prints each letter.

In [14]:
for i in "SPICED":
    print(i)

S
P
I
C
E
D

Q4: Write a for loop to  print a triangle(4x4) with 'Hi' (See the pattern below)

In [7]:
# Hi 
# Hi Hi 
# Hi Hi Hi 
# Hi Hi Hi Hi




for i in ("Hi " , 2*"Hi " ,  3*"Hi " , 4*"Hi "):
        print(i)



#t= (start, stop, step)
# Hint = default start is 0, default step is 1

Hi
Hi Hi
Hi Hi Hi
Hi Hi Hi Hi

In [2]:
# please write your solution here

Q5: Write a for loop which prints the numbers: 2,4,6,8. Use the range function to iterate over that number sequence.

In [3]:
# please write your solution here

### Names of Employees

In [10]:
names = ['Alice', 'Bob', 'Charlie', 'Delia']
jobs = ['doctor', 'builder', 'cook', 'developer']

Q5: Write a loop over two lists using zip() which prints 'name works as a job'

In [18]:
for name, job in zip(names,jobs):
    print (name +  ' works as a ' + job)

Alice works as a doctor
Bob works as a builder
Charlie works as a cook
Delia works as a developer

Q6: write a for loop which prints all the names in the list except 'Charlie'

In [29]:
names = ['Alice', 'Bob', 'Charlie', 'Delia']

# Hint: if statement and continue

# please write your solution here

### The List with 11 numbers

Q7: Assume that we are working with the list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. 

1. Write a `for` loop to iterate over the list and print each number.
2. Add a condition to that for loop which only prints a number if it is even. (**Hint**: use the `%` operator.)

    a. Do not only print the even number but store them in the list `evens`.
3. Can you modify the condition in question (2) so that the for loop only prints a number if it is odd?
4. Now modify the `for` loop so that we print out the index of the elements along with the elements themselves.

In [152]:
# please write your solutions for Q7 1.-4. here
list = [0,1,2,3,4,5,6,7,8,9,10]
for i in list:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [153]:
for i in list:
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

In [154]:
for i in list:
    if i % 2 == 0:
        evens = list[i]
        print(evens)

0
2
4
6
8
10

In [155]:
for i in list:
    if i % 2 != 0:
        odds = list[i]
        print(odds)

1
3
5
7
9

In [163]:
for idx,i in enumerate(list):
    if i % 2 != 0:
        odds = list[i]
        print(idx,odds)

1 1
3 3
5 5
7 7
9 9

### Clean customer names

Q8: you have given a list of customer names. As a data analyst you want to work with these customers, but first you have to bring them into a consistent format. Please create a new list 'customer_names_clean' that holds all the customer names of 'customer_names' in lower case.

In [237]:
customer_names = ['KUBIKOM Company GmbH',
'Company Hauser',
'artofhome',
'Atlas Companyservice GmbH',
'McRae Company',
'Companywerte24.de',
'Picaflor Company GmbH',
'Behrmann Company GmbH',
'Blackert & Borchers Company GmbH & Co KG',
'Company Martin Lang',
'pleasanthome company GmbH']

In [238]:
# please write your solution here
for i in customer_names:
    customer_names_clean = i.lower()
    print(customer_names_clean)

kubikom company gmbh
company hauser
artofhome
atlas companyservice gmbh
mcrae company
companywerte24.de
picaflor company gmbh
behrmann company gmbh
blackert & borchers company gmbh & co kg
company martin lang
pleasanthome company gmbh

In [255]:
customer_names = ['KUBIKOM Company GmbH',
'Company Hauser',
'artofhome',
'Atlas Companyservice GmbH',
'McRae Company',
'Companywerte24.de',
'Picaflor Company GmbH',
'Behrmann Company GmbH',
'Blackert & Borchers Company GmbH & Co KG',
'Company Martin Lang',
'pleasanthome company GmbH']

Q9: Now, we are only interested in the actual customers name. Please check if the company name ends with 'Company GmbH', 'GmbH' or 'Company GmbH & Co KG', if yes, then remove this part (which string method could you use for that?), otherwise just leave the customer_name untouched. In both cases assign the output of your if condition to a new list called 'customer_names_extracted'.

In [263]:
for i in customer_names:
    customer_names_clean = i.lower()
    if customer_names_clean.endswith('company gmbh'):
        
    else:
        print(customer_names_clean)

company hauser
artofhome
atlas companyservice gmbh
mcrae company
companywerte24.de
blackert & borchers company gmbh & co kg
company martin lang

### Clean email addresses

Q10: For later analysis we would like to store the email provider in a seperate column.
Please extract the email provider from all email addresses in 'email_address_list' and store it in a new list called 'email_provider_list'.

In [ ]:
email_address_list = [
'nolan_mckinney3462@the-quickest.com',
'brenk4987@bestmail.us',
'hugh_mckay4695@postpro.net',
'aline3529@emailplus.org',
'vaneldik8972@internetemails.net',
'efren1904@imap.cc',
'oralia_amptman2077@hotmail.com',
'edgar8593@fastmail.es',
'roseanne7176@ownmail.net',
'ramirez7701@123mail.org',
'ardell3815@mailsent.net',
'terry4639@allmail.net',
'dale896@swift-mail.com',
'erich_cowan3404@bestmail.us',
'agueda4209@mm.st'
]

In [5]:
# please write your solution here

### The list with customer data

Q11: You have received a list with the personal data of new customers. For each customer, the first name, age and purchased product is stored in a list.
1. Use the correct indices to write the following sentence for customer 3:
"{first name} is {age} years old and has bought {product}".

2. Use a for loop to iterate through all customers and print 
"{first name} is {age} years old and has bought {product}".
for each of them

3. Iterate through all customers and print "Customer number {index}: {first name} is {age} years old and has bought {product}".

In [70]:
# pay attention! this is a list of lists...
i = 0
customers = [['Paul', 33, 'Macbook Pro'],
            ['Anna', 12, 'Looping Louie'],
            ['Gina', 85, 'Photo Album'],
            ['Kim', 59, 'Plants']]

In [71]:
# please write your solutions for Q10 1.-3. here
customers[2]

['Gina', 85, 'Photo Album']

In [72]:
for i in customers:
    print(i)

['Paul', 33, 'Macbook Pro']
['Anna', 12, 'Looping Louie']
['Gina', 85, 'Photo Album']
['Kim', 59, 'Plants']

<details><summary>
Click here for a hint.
    </summary>
    1. With customers[0] you access the first nested list ['Paul', 33, 'Macbook Pro']. You can index each of those elements again.
    Try out: customers[0][0]
    
2. With a for loop you iterate through each customer in "customers", now each personal data from the customer can be accessed with: customer[0] (is first name) etc.
    
3. For the index, you will need to iterate through enumerate(customers).
</details>

In [83]:
for idx,i in enumerate(customers):
    print(idx,i)

0 ['Paul', 33, 'Macbook Pro']
1 ['Anna', 12, 'Looping Louie']
2 ['Gina', 85, 'Photo Album']
3 ['Kim', 59, 'Plants']