# Part 1

In [25]:
print(19.0 - 11)
print(12 * 0.25)
print(12 ** 2)
print((12 + 8) / 7)

8.0
3.0
144
2.857142857142857

# Part 2

In [26]:
"hello"

'hello'

In [27]:
"all"

'all'

In [28]:
"hello" + ' ' "all"

'hello all'

In [29]:
3 * "bye " + "you all"

'bye bye bye you all'

In [30]:
4 == 4 and 3 < 5

True

In [31]:
4 < 3 or 5 == 10

False

In [32]:
a = 2
b = 2 
c = 2
d = 2

In [33]:
g = a + b

In [34]:
f = c + d

In [20]:
g + f

8

In [36]:
a = 15
b = 5
c = 4
d = 6

In [43]:
a + b < c + d

False

# Exercise Variables

 # Task 1

In [48]:
x = 82
y = 30
x += y
y = x - 3
x -= y - 5

In [49]:
x = 82

In [51]:
x

82

In [52]:
y

30

In [53]:
x = 82
y = 30
x += y
x

112

In [54]:
x = 82
y = 30
x += y
y = x - 3
x

112

In [55]:
x = 82
y = 30
x += y
y = x - 3
y

109

In [58]:
x = 82
y = 30
x += y
y = x - 3
x -= y - 5
x

8

# Task 2

In [60]:
person_1_age = 21
person_2_age = 43
person_3_age = 19

In [61]:
mean = (person_1_age + person_2_age + person_3_age)/3

In [62]:
mean

27.666666666666668

In [63]:
type(mean)

float

In [65]:
round(mean,2)

27.67

# Task 3

In [14]:
x = input('How many kilometer do you want converted?')
print(f'In miles it is equal to', float(x) * (0.621371))

In miles it is equal to 3.106855

# Strings

In [15]:
"They told me not to do this, but I didn't listen."

"They told me not to do this, but I didn't listen."

In [39]:
x = "my name is Sean"

In [40]:
y = "My best friends name is Batu"

In [41]:
z = "Hello " + x

In [42]:
z

'Hello my name is Sean'

In [43]:
z.replace('e','t')

'Htllo my namt is Stan'

In [44]:
z.split(', ')

['Hello my name is Sean']

In [45]:
customer_name_1 = 'KUBIKOM Company GmbH'
customer_name_2 = 'Hauser Company'

In [51]:
customer_name_clean_3 = customer_name_1.lower()
customer_name_clean_4 = customer_name_2.lower()

In [58]:
customer_name_3 = 'Mills & Mills Lda Quinta Properties'
customer_name_4 = 'Rosenhof Company & Capital Vermittlung GmbH'

customer_name_clean_3 = customer_name_3.replace('&', 'and')
customer_name_clean_4 = customer_name_4.replace( '&', 'and')

In [59]:
customer_name_clean_3

'Mills and Mills Lda Quinta Properties'

In [4]:
email_1 = 'jame4685@reallyfast.biz'
email_2 = 'colin_huber2882@mailhaven.com'

In [8]:
email_split1 = email_1.split('@')
email_split2 = email_2.split('@')
print(email_split1)
print(email_split2)

['jame4685', 'reallyfast.biz']
['colin_huber2882', 'mailhaven.com']

In [11]:
email_provider = (email_split1 + email_split2)
email_provider

['jame4685', 'reallyfast.biz', 'colin_huber2882', 'mailhaven.com']